.bg-container {
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-color: hsl(240, 78%, 98%);
  background-size: 60%;
  background-position: top right -80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .bg-container {
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    background-size: 20% 75%, 20% 38%;
    background-position: top right, left bottom;
    background-color: hsl(240, 78%, 98%);
  }
}
.main-heading {
  font-family: Montserrat;
  color: hsl(233, 13%, 49%);
  margin-top: 25px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .main-heading {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.toggle-button-container {
  display: flex;
  margin-bottom: 30px;
}
.checkbox-input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: hsl(237, 63%, 64%);
  border-radius: 40px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.label:hover {
  background: hsl(236, 72%, 79%);
}

.label::before {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  transition: left 200ms linear;
}
.checkbox-input:checked + label:hover {
  background: hsl(236, 72%, 79%);
}
.checkbox-input:checked + label::before {
  left: 4px;
}
.para {
  margin-top: 5px;
  font-family: Montserrat;
  color: hsl(234, 14%, 74%);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
@media (min-width: 1440px) {
  .card-container {
    flex-direction: row;
    justify-content: center;
  }
}

.basic-card {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 40px 10px;
}

@media screen and (min-width: 992px) {
  .basic-card {
    margin-left: 0px;
    margin-right: 0px;
    width: 400px;
  }
}

.sub-heading {
  font-family: Montserrat;
  color: hsl(233, 13%, 49%);
}
.cost {
  font-size: 70px;
  font-family: Montserrat;
  color: hsl(232, 13%, 33%);
  margin-top: 0px;
}
.dollar {
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  color: hsl(232, 13%, 33%);
}
.dollar-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.dollar-card-2 {
  color: #ffffff;
}
.list-items {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 290px;
}
.list-item {
  font-family: Montserrat;
  color: hsl(233, 13%, 49%);
  margin-top: 15px;
  margin-bottom: 15px;
}
.line {
  width: 290px;
  border-color: 1px solid hsl(234, 14%, 74%);
}
.card-button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  height: 50px;
  width: 290px;

  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 15px;
  cursor: pointer;
}
.card-button:hover {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}

.card-2 {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
@media screen and (min-width: 992px) {
  .card-2 {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 18px;
  }
}
.card-2-color {
  color: white;
}
.card-2-button {
  background-color: white;
  color: hsl(237, 63%, 64%);
  height: 50px;
  width: 290px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 15px;
  cursor: pointer;
}
.card-2-button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid hsl(240, 78%, 98%);
}
